:root {
    --cor-01: #0A0C0E;
    --cor-02: #8DAAC2;
    --cor-03: #FFB200;
    --cor-04: #e8efeb;

}


body {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: "auto auto 1fr";
    grid-template-areas: "cabecalho" "principal" "rodape";
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}



header {
    width: 100%;
}

nav {
    display: flex;
    background-color: var(--cor-01);
    justify-content: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    text-align: left;
}

nav li {
    margin-right: 20px;

}

nav a {
    text-decoration: none;
    font-size: 24px;
    color: var(--cor-04);
}



.cabecalho {
    grid-area: header;
}

.noticia {
    grid-area: noticia;
    background-color: var(--cor-02);
}

.noticia a {
    color: var(--cor-05);
    font-size: smaller;
    text-decoration: none;
}

.noticia li {
    list-style: square;
    text-decoration: none;
    margin-right: 50px;
    margin-top: 10px;
}

.principal {
    grid-area: principal;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "noticia portfolio" "noticia orcamento" "noticia mapa" "noticia contato";
    background-color: var(--cor-04);
}

footer {
    grid-area: rodape;
    background-color: var(--cor-01);
    width: 100%;
    font-size: 20px;

}

footer p {
    color: var(--cor-04);
    text-align: center;
    margin-top: 10px;

}


.portfolio {
    grid-area: portfolio;
    background-color: var(--cor-05);
    color: var(--cor-03):
}

.portfolio-item {
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
}

.galeria {
    display: flex;
}

.row {
    justify-content: space-evenly;
}

.rotulo {
    color: var(--cor-01);
    justify-content: center;
    text-align: justify;
}



.orcamento {
    grid-area: orcamento;
    background-color: var(--cor-03);
    color: var(--cor-01);
}


.mapa {
    grid-area: mapa;
    background-color: var(--cor-04);
}


.contato {
    grid-area: contato;
    background-color: var(--cor-05);
}

.error {
    color: red;
}



#map {
    height: 400px;
    width: 100%;
}
